%%% -*- mode: erlang -*-

%% For now we have too many compile(export_all) :-)
%%%{erl_opts, [debug_info, warnings_as_errors, {src_dirs,["recipes","src"]}]}.

{erl_opts, [debug_info, {src_dirs,["recipes","src"]}]}.

{deps, [{edown, {git, "git://github.com/uwiger/edown.git", {branch, "master"}}}
       ]}.

{edoc_opts, [{doclet, edown_doclet}
            , {app_default, "http://www.erlang.org/doc/man"}
            , {new, true}
            , {packages, false}
            , {stylesheet, ""}   % don't copy stylesheet.css
            , {image, ""}        % don't copy erlang.png
            , {top_level_readme, {"./README.md", "https://github.com/fredlund/Ranker", "master"}}
            ]}.
